body {
    background-color: rgb(95, 13, 74);
    font-family: 'Indie Flower', cursive;
    
    
}
/* nav style start */
#nav {
    width: 100%;
    
}
nav {
    background-color: rgb(129, 125, 126);
    width: 100%;
    height: 10vh;
    min-width: max-content;
    min-height: max-content;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    padding: 20px;    
    justify-content: space-between;
    align-items: center;
}
nav div {
    display: inline-block;
    height: 100%;
}
#logoAP {
    height: 100%;
}
.nav__ul {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    height: 70%;
    margin: 0;
    padding: 0; 
}
.nav__ul li {    
    display: inline-block; 
}
.nav__ul li img {
    border: 1px solid black;
    border-radius: 10%;
    height: 100%;
    width: 100%;
    
}
/* nav style end */
/* resumen style start*/
.resumen {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px / 10px;
    background-color: rgb(129, 125, 126);
    box-sizing: border-box;
    min-width: 100%;
}
.fondo {
    position: relative;
}
#fondo {
    height: 50vh;
    width: 100%;  
    border-bottom: 2px solid black; 
    object-fit: cover;  
}
#foto {
    position: absolute;
    width: auto;
    height: 45%;
    border-radius: 50%;
    border: 3px solid rgb(226, 23, 84);
    top: 10px;
    left: 15px;
}
h1 {
    margin: 0;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 35px;
}
.titulos {
    width: auto;
    height: auto;
    margin: 0;
    margin-left: 15px;
    font-size: 20px;
    
}
.titulos li {
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    margin: auto;
}
.titulos div {
    display: flex;
    align-items: center;
    height: 50px;
}
.titulos img {
    height: 70%;
    object-fit: contain;  
}

#inac {
    padding-left: 10px;
    
}

.menu li{
    display: inline-block;
}


