body {
    background-color: rgb(95, 13, 74);
    font-family: 'Indie Flower', cursive;    
    min-width: min-content;    
}
/* nav style start */
#nav {
    width: 100%;
    min-width: 350px;
    box-sizing: border-box;    
}
nav {
    background-color: rgb(129, 125, 126);
    width: 100%;
    height: 10vh;
    min-width: max-content;
    min-height: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;       
    justify-content: space-between;
    align-items: center;
}
nav div {
    display: inline-block;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}
#logoAP {
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
}
.nav__ul {
    box-sizing: border-box;
    display: flex;
    height: 70%;
    margin: 0;
    padding: 0;
    padding: 5px;
}
.nav__ul li {    
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}    
.nav__ul li img {
    border: 1px solid black;
    border-radius: 10%;
    height: 100%;
    width: 100%;    
}
/* nav style end */
/* resumen style start*/
.resumen {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px / 10px;
    background-color: rgb(129, 125, 126);
    box-sizing: border-box;
    min-width: 350px;
    height: 90vh;     
}
/* fondo style start */
.fondo {
    height: 50vh;
    position: relative;   
}
#fondo {
    height: 50vh;
    width: 100%;  
    border-bottom: 2px solid black; 
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10px;
}  
#foto {    
    position: absolute;    
    height: 80%;
    border-radius: 50%;
    border: 3px solid gray;
    top: 10%;
    left: 2%;
    box-sizing: border-box;
}
/* fondo style end*/
h1 {
    margin: 0;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 35px;
}
.titulos {
    width: auto;
    height: auto;
    margin: 0;
    margin-left: 15px;
    font-size: 20px;    
}
.titulos li {
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    margin: auto;
}
.titulos div {
    display: flex;
    align-items: center;
    height: 50px;
}
.titulos img {
    height: 70%;
    object-fit: contain;  
}

#inac {
    padding-left: 10px;
    
}

.menu li{
    display: inline-block;
}


